


<form class="form-group" #trusteeForm="ngForm" (ngSubmit)="onSubmit(trusteeForm)">

    <p>
        <label for="id">id</label>
        <input  class="form-control" #id="ngModel" type="number" id="id" name="id" ngModel >
    </p>
    <p>
        <label for="name">Name</label>
        <input  class="form-control" #name="ngModel" type="text" id="name" name="name" required minlength="3" ngModel >
        </p>
        <div *ngIf="!name?.valid && (name?.dirty || name?.touched)" class="error">
            <div *ngIf="name.errors?.['required']">
              Name is required
         </div>
         <div *ngIf="name.errors?.['minlength']" class="error">
             Name minimum number of chars  required is 3
             </div>
        </div>
    <p>
        Gender <br>
        <label class="form-check-label" for="male">male</label>
        <input  class="form-check-input" #male="ngModel" type="radio" id="male" name="gender" value="male" ngModel ><br>
        <label class="form-check-label" for="female">female</label>
        <input class="form-check-input"  #female="ngModel" type="radio" id="female" name="gender" value="female" ngModel >
    </p>
    <p>
        <label for="country">country</label>
        <select  class="form-control" #country="ngModel" name="country" id="country" GetValidationDirective required ngModel>
            <option [ngValue]="c.id" *ngFor="let c of countries">{{c.name}}</option>
        </select>
    </p>
    <p>
        <label for="passport">passport</label>
        <input  class="form-control" #passport="ngModel" type="text" id="passport" name="passport" pattern="^[a-zA-Z0-9]+$" ngModel >
    </p>
    <div *ngIf="!passport?.valid && (passport?.dirty || passport?.touched)" class="error">
        <div *ngIf="passport.errors?.['required']" class="error">
          passport is required
     </div>
     <div *ngIf="passport.errors?.['pattern']" class="error">
         passport should have only alphabets and numbers
        </div>

</div>
    
    <button class="btn btn-primary" type="submit" [disabled]="!trusteeForm.valid">Submit</button>

</form>